@font-face {
    font-family: "Yanone";
    src: url(../fonts/YanoneKaffeesatz-Medium.ttf);
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Yanone", sans-serif;
}
i.fa {
    font-size: 30px;
    margin-right: 10px;
}
@keyframes slide {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.main {
    background-image: url(../img/dark.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    animation: slide 90s linear infinite;
}
.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.app__header {
    background-color: rgba(0,0,0,0.5);
    border-bottom: 7px solid rgb(1, 40, 114);
    min-height: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}
.app__logo {
    padding: 20px 0;
    display: block;
    width: 400px;
    margin: 0 auto;
}
.app__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    overflow: auto;
}
.app__btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 50px;
    width: 240px;
    background-color: #012872;
    box-shadow: 0px 7px 0px 0px #173886;
    margin: 0 auto;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #fefef5;
    text-transform: uppercase;
}
.app__btn:focus {
    outline: none;
}

.achievements .app__body {
    justify-content: flex-start;
}
.app_body-inner {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.app__body-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.app__body-top {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content max-content;
    place-content: center center;
    margin-bottom: 20px;
}
.app__card {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 10px;
    border: 5px solid rgba(23,56,134,0.5);
    text-align: center;
}
.app__card:nth-child(1) {
    border-right: none;
    border-bottom: none;
}
.app__card:nth-child(2) {
    border-left: none;
    border-bottom: none;
}
.app__card:nth-child(3) {
    border-right: none;
    border-top: none;
}
.app__card:nth-child(4) {
    border-left: none;
    border-top: none;
}
.app__card-text {
    font-size: 22px;
    margin-bottom: 10px;

}
.app__card-count {
    font-size: 18px;
}
.app__body-middle {
    margin-bottom: 15px;
}
.app__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 5px solid rgba(23,56,134,0.5);
    background-color: rgba(1, 40, 114, 0.8);
    margin-bottom: 7px;
}
.app__result:last-child {
    margin-bottom: 0px;
}
i.fa-star {
    margin-right: 0;
    font-size: 15px;
    margin-bottom: 3px;
}
.app__result-name {
    font-size: 18px;
    margin-left: auto;
    margin-right: 20px;
}
.app__result-amount {
    font-size: 18px;
}
.btn__back {
    width: 70px;
    height: 70px;
    box-shadow: none;
    border-radius: 50%;
}
.btn__achievement {
    background-color: rgba(0,0,0,0.5);
    border: 5px solid rgba(1,88,154,0.5);
}

.app__header-inner {
    color: #fefef5;
    text-align: center;
    
}
.app__count {
    font-size: 24px;
    margin-bottom: 10px;
}
.app__text {
    font-size: 18px;
}
.results .app__body {
    justify-content: space-between;
}
.app__results-inner {
    color: white;
    padding: 20px;
}
.results__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
}
.results__img {
    text-align: center;
    margin-bottom: 20px;
}
.results__img img {
    width: 250px;
}
.results__text-box {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
}
.results__text {
    margin-bottom: 20px;
    text-align: justify;
}
.app.results {
    animation: none;
    background-size: cover;
    background-position: center center;
}
.app.results[data-race="empire"] {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/empire__back.png) center/cover;;
    background-position: left bottom;
}
.app.results[data-race="clans"] {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/clans__back.png) center/cover;;
    
}
.app.results[data-race="alliance"] {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/alliance__back.png) center/cover;;
}
.app.results[data-race="undead"] {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/undead__back.png) center/cover;;
}
.app.results[data-race="legions"] {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/legions__back.png) center/cover;;
}
.app.results[data-race="neutral"] {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/neutral__back.png) center/cover;;
    background-position: left;
}
.btn__empire {
    background-color: #766450;
    color: #000;
}
.btn__clans {
    background-color: #9c6a45;
    color: #000;
}
.btn__alliance {
    background-color: #da8618;
    color: #000;
}
.btn__undead {
    background-color: #899b4a;
    color: #000;
}
.btn__legions {
    background-color: #d44c22;
    color: #000;
}
.btn__neutral {
    background-color: #c1b15a;
    color: #000;
}